.button-color, .button-color:hover, .button-color:active{
    background-color: #13F072 !important;
    border-color: #13F072 !important;
}

.label-name-input{
    border-radius: .375rem .375rem 0 0; 
    display: inline-flex;
    
}
.form-control-input{
    border-radius: 0 0 .375rem .375rem; 
}

.resultato-query{
    margin: 2rem 0;
    padding: 1rem;
    border: solid 2px rgb(21, 180, 0);
    border-radius: 5px;
    background-color: #95ff95;
}

.resultato-query span{
    font-weight: bold;
}

.text-title{
    font-size: 2rem;
    margin-bottom: 5rem;
}
