.main-root{
    display: flex;
    margin-right: 2rem;
}
.container-root{
    width: 100%;
    margin: 1rem;
}
@media (min-width: 300px) and (max-width: 700px) { 
    .main-root{
        display: block;
        margin-right: 0;

    }
    .container-root{
        display: block;
    }   
    
}